@media (min-width: 768px) {
  .type section {
    padding: 150px 0;
  }
}
.type .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .type .container {
    width: 1170px;
  }
}
.type .text-center {
  text-align: center;
}
.type .row {
  margin-right: -15px;
  margin-left: -15px;
}
.type h2 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.type section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.type section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}
@media (min-width: 992px) {
  .type .col-md-4 {
    width: 33.33333333%;
  }
}
.type .fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.type .fa-stack .fa-4x {
  font-size: 4em;
}
.type h4 {
  font-size: 18px;
}
.type .service-heading {
  margin: 15px 0;
  text-transform: none;
}
.type p {
  font-size: 14px;
  line-height: 1.75;
}
